* {
	margin: 0;
	padding: 0;
}

div.col-sm-4 {
	border: 2px solid black;
	background-color: lightblue;
}

/*styling for the event listeners*/

.clicked {
	border: 4px solid black;
	background-color: #f44242;
}